<div class="sliderheader">
    <div class="sliderheader-content">
        <h1>
            <mat-toolbar class="nav">
                    <mat-list role="list">
                        <mat-list-item role="listitem"><a routerLink="/home" routerLinkActive="active">Home</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/aboutme" routerLinkActive="active">About Me</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/projects" routerLinkActive="active">Projects</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/blog" routerLinkActive="active">Blog</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/rnd" routerLinkActive="active">Miscellaneous</a></mat-list-item>
                    </mat-list>
                    <span class="typing-element"></span>  
            </mat-toolbar>
            
        </h1>
    </div>
</div>
<div class="contents">     
      <h2>
      </h2>
      <h2>About Moi
      </h2>
      <div class="row">
        <div class="column">
                    <div class ="mat-image-walle" >
                        <div class ="sliderheader-content">
                            <a routerLink="/projects" routerLinkActive="active"></a>
                                
                        </div>
                    </div>
        </div>

        <div class="column center-content">
          <p>
          Hi, I'm Steve, the photo on the left is a Pixar hybrid version of mine, created using Toonify API with the style-based GAN architecture (StyleGAN) <a href="https://github.com/justinpinkney/stylegan2">here</a>.
 
          <p>If you're looking for a candidate who has diverse background in engineering, programming, who is autonomous, critical and logical thinking, as well as an open-minded and humble team player in your project, then here you are!</p>
          <p>
            Several introduction lines about me:
            </p>
            <p>
            - A Tech Lead/Full stack Web App Developer: Python, React, Django, JSX, HTML, CSS, DevOps, PostgreSQL, Azure, Heroku
            </p>
            <p>
            - Accredited M.Sc. degree in Aerospace/Electrical Engineering with over 7 years experience in research and development of electric, control systems and optimization, 3-year experience in data analysis, 2 years in software development.
            </p>
            <p>
            - Had recent working experiences with data acquisition protocols, data visualization, data analysis, real-time systems, control, programming and regional aircrafts, morphing wing technology, Wind Tunnel testing.
            </p>
            <p>
            - Acquired solid knowledge in data analysis, control systems, control methods, optimization methods, data structure and algorithms.
            </p>
            <p>
            - Fluent in French, English, Chinese and Vietnamese.
            If you're interested in working with me, drop a message at hienstevenguyen@gmail.com or +1514-998-6690
            </p>
            <p>
            Explore my projects <a routerLink="/projects" routerLinkActive="active">here</a>
            </p>
        </div>
        </div>
        </div>

    