.mat-image-project-ai {
    background:url('~src/assets/images/ai.jpg');
    height:400px;
    width:600px;
    background-size: cover;
    background-position: center;
    opacity: .9;
    position: relative;
    top:50px;
    left: 100px;
    border: 3px solid black;
    
  
    .sliderheader-content {
      display: flex;
      position:absolute;
      top: 100px;
      justify-self: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-family: "Lucida Console",  monospace;
      color:white
    
    }
  }

  .mat-image-project-metso {
    background:url('~src/assets/images/metso.jpg');
    height:400px;
    width:600px;
    background-size: cover;
    background-position: center;
    opacity: .9;
    position: relative;
    top:50px;
    left: 100px;
    border: 3px solid black;
    
  
    .sliderheader-content {
      display: flex;
      position:absolute;
      top: 100px;
      justify-self: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-family: "Lucida Console",  monospace;
      color:white
    
    }
  }

  
  .mat-image-project-nrc {
    background:url('~src/assets/images/nrc1.jpg');
    height:400px;
    width:600px;
    background-size: cover;
    background-position: center;
    opacity: .9;
    position: relative;
    top:50px;
    left: 100px;
    border: 3px solid black;
    
  
    .sliderheader-content {
      display: flex;
      position:absolute;
      top: 100px;
      justify-self: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-family: "Lucida Console",  monospace;
      color:white
    
    }
  }

    
  .mat-image-project-ant {
    background:url('~src/assets/images/ant.gif');
    height:400px;
    width:600px;
    background-size: cover;
    background-position: center;
    opacity: .9;
    position: relative;
    top:50px;
    left: 100px;
    border: 3px solid black;
    
  
    .sliderheader-content {
      display: flex;
      position:absolute;
      top: 100px;
      justify-self: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-family: "Lucida Console",  monospace;
      color:white
    
    }
  }