<div class="sliderheader">
    <div class="sliderheader-content">
        <h1>
            
            <mat-toolbar class="nav">
                  <span class="typing-element"></span>    
            </mat-toolbar>
            
        </h1>
        <div class ="mat-image-project" >
            <div class ="sliderheader-content">
           <a routerLink="/projects" routerLinkActive="active">Projects</a>
            </div>
        </div>

        <div class ="mat-image-earth" >
            <div class ="sliderheader-content">
            <a routerLink="/home" routerLinkActive="active">Home</a> 
            </div>
        </div>

        <div class ="mat-image-blog" >
            <div class ="sliderheader-content">
            <a routerLink="/blog" routerLinkActive="active">Blog</a>
            </div>
        </div>

        <div class ="mat-image-blackhole" >
            <div class ="sliderheader-content">
            <a routerLink="/rnd" routerLinkActive="active">Miscellaneous</a>
            </div>
        </div>

        <div class ="mat-image-astronaut-aboutme" >
            <div class ="sliderheader-content">
            <a routerLink="/aboutme" routerLinkActive="active">About Me</a>
             
            </div>
        </div>
    </div>
</div>
<div class="footer-earthhorizon">
</div>

    <mat-toolbar >
    <span>All rights reserved @hiensteve 2020</span>
    </mat-toolbar>





