<div class="sliderheader">
    <div class="sliderheader-content">
        <h1>
            <mat-toolbar class="nav">
                    <mat-list role="list">
                        <mat-list-item role="listitem"><a routerLink="/home" routerLinkActive="active">Home</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/aboutme" routerLinkActive="active">About Me</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/projects" routerLinkActive="active">Projects</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/blog" routerLinkActive="active">Blog</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/rnd" routerLinkActive="active">Miscellaneous</a></mat-list-item>
                    </mat-list>
                    <span class="typing-element"></span>  
            </mat-toolbar>
            
        </h1>
    </div>
</div>

