<div class="sliderheader">
    <div class="sliderheader-content">
        <h1>
            <mat-toolbar class="nav">
                    <mat-list role="list">
                                           <mat-list-item role="listitem"><a routerLink="/home" routerLinkActive="active">Home</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/aboutme" routerLinkActive="active">About Me</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/projects" routerLinkActive="active">Projects</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/blog" routerLinkActive="active">Blog</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="/rnd" routerLinkActive="active">Miscellaneous</a></mat-list-item>
                    </mat-list>
                    <span class="typing-element"></span>  
            </mat-toolbar>
            
        </h1>
    </div>
</div>

<div class="contents">     
<h2>
</h2>
      <h2>Ongoing Projects
      </h2>
    <div class="row">
        <div class="column">
                    <div class ="mat-image-project-ai" >
                        <div class ="sliderheader-content">
                            <a routerLink="/projects" routerLinkActive="active"></a>
                                
                        </div>
                    </div>

                    
        </div>

        <div class="column center-content">
          <p>
          AI for image processing
            </p>
        </div>
    </div>

        <div class="row">
            <div class="column">
                        <div class ="mat-image-project-metso" >
                            <div class ="sliderheader-content">
                                <a routerLink="/projects" routerLinkActive="active"></a>
                                    
                            </div>
                        </div>
            </div>

            <div class="column center-content">
            <p>
            MMR Metso Project
                </p>
                <p>
                Metso Mill Reline Software optimizes your mill relining process, sequences, crew and tooling; 
                reducing for our Customers Mill’s downtime and increasing availability and profitability. The stack incudes React, Django,PostgreSQL and Azure Services. Link to the software <a href="https://metsomillrelinesim.azurewebsites.net/">here</a>.
                </p>
            </div>
        </div>
</div>
<div class="contents">     
    <h2>
    </h2>
    <h2>
    </h2>
      <h2>Completed Projects
      </h2>
    <div class="row">
        <div class="column">
                    <div class ="mat-image-project-nrc" >
                        <div class ="sliderheader-content">
                            
                                
                        </div>
                    </div>

                    
        </div>
    

        <div class="column center-content">
          <p>
          Adaptive Neural FIS for Morphing Wing Architecture. The papers regarding to this project are <a href="https://scholar.google.com/citations?user=CxbdyCYAAAAJ&hl=en#">here</a>.
            </p>
        </div>
    </div>


    <div class="row">
            <div class="column">
                        <div class ="mat-image-project-ant" >
                            <div class ="sliderheader-content">
                                <a routerLink="/projects" routerLinkActive="active"></a>
                                    
                            </div>
                        </div>
            </div>
    

            <div class="column center-content">
            <p>
            A Refined Ant Colony Algorithm
for Optimal Path Planning. The paper regarding to this project is <a href="https://scholar.google.com/citations?user=CxbdyCYAAAAJ&hl=en#">here</a>.
            </p>
            </div>
        </div>
</div>




        